<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- <link rel="stylesheet" type="text/css" href="src/css/index.css"/> -->
		<link rel="stylesheet" type="text/css" href="src/css/my.css" />
	</head>
	<body>
		<!-- 顶部导航栏 -->
		<div class="nav_top">
			<img src="src/img/index.jpg">

			<div class="daohang">
				<ul>
					<li><a href="../../index.html">首页</a></li>
					<li><a href="../dingdan/dingdan.html">订单</a></li>
					<li><a href="my.html">我的</a></li>
					<li><a href="../login/login.html">登录/注册</a></li>
				</ul>
			</div>
		</div>

		<!-- 左侧导航栏 -->
		<div class="nav_left">
			<ul>
				<h5 class="dao1"><a href="#">个人中心</a></h5>
				<h5 class="dao1">我的订单</h5>
				<li class="dao2"><a href="#">近三个月订单</a></li>
				<h5 class="dao1">我的资产</h5>
				<li class="dao2"><a href="#">我的红包</a></li>
				<li class="dao2"><a href="#">账户余额</a></li>
				<li class="dao2"><a href="#">我的金币</a></li>
				<h5 class="dao1">我的资料</h5>
				<li class="dao2"><a href="#">个人资料</a></li>
				<li class="dao2"><a href="#">地址管理</a></li>
				<h5 class="dao1">我的收藏</h5>
			</ul>
		</div>
		<!-- 右侧内容区域 -->
		<div class="cont_right">
			请先登录！
		</div>




	</body>
</html>
