* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}


/* 顶部导航栏 */
.nav_top {
	width: 1210px;
	height: 60px;
	line-height: 60px;
	background-color: #88badf;
	margin: 10px auto;
	position: relative;
}

.nav_top img {
	width: 60px;
	height: 60px;
	display: inline;
	position: absolute;
	left: 283px;
}

.nav_top .daohang {
	width: 970px;
	height: 60px;
	/* margin: 0 auto; */
	/* padding: 0 auto; */
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 343px;
}


.nav_top ul li {
	float: left;
}

.nav_top ul li a {
	/* width: 80px;
	height: 60px; */
	display: inline-block;
	/* background: #3d5d94; */
	height: 60px;
	line-height: 60px;
	padding: 0 50px;
	font: "微软雅黑"14px;
	color: white;

}

.nav_top ul li a:hover {
	color: white;
	background-color: #6aa9d8;
}

.nav_left{
	width: 100px;
	height: 600px;
	margin-left: 280px;
	
}

.dao1{
	padding-top: 50px;
	font-size: 23px;
}
.dao1 a{
	color: black;
}



.dao2{
	padding-top: 5px;
	font-size: 15px;
	
}

.dao2 a{
	color: gray;
}

.dao2 a:hover{
	color: blue;
}

/* .my_center{
	color: blue;
	background-color: yellow;
} */
.last3months{
	background-color: yellow;
}

.cont_right{
	width: 800px;
	height: 500px;
	position: absolute;
	left: 400px;
	top: 150px;
	margin-bottom: 50px;
	background-color: #88badf;
}